<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../static/logo_simplon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/style.css">
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>
  {% if current_user.is_authenticated %}

  <nav class="sidebar">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 sidebar">
      <ul class="nav flex column">
           <li class="nav-item"><a class = 'nav-link' href="{{url_for('modify_password')}}"> Bonjour {{ current_user.first_name }} {{ current_user.last_name }}</a></li>
            <li class="nav-item"><a class = 'nav-link' href="{{url_for('login_page')}}">se déconnecter</a></li>

         {% if not current_user.is_admin %}
            <div class="wrapper" id="wrapper2">
                    <li class="nav-item"><a class = 'nav-link' href="{{url_for('dashboard_student_page')}}">Accueil</a></li>
                    <li class="nav-item"><a class = 'nav-link' href="{{url_for('board_page')}}">Mes candidatures</a></li>
                    <li class="nav-item"><a class = 'nav-link' href="{{url_for('add_candidature')}}">Créer une nouvelle candidature</li>
                    <li class="nav-item"><a class = 'nav-link' href="{{url_for('dashboard_student_page')}}">Annuaire de l'équipe Simplon</a></li>
                </ul>
            </div>
          {% else %}    
            <div class="wrapper" id="wrapper2">
                <ul class="nav flex-column">
                    <li class ="nav-item"><a class="nav-link" href="{{ url_for('admin_board_page') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('account_generation') }}">Ajouter un apprenant</a></li>
                </ul>
            </div>
             </div>
        {% endif %}


      {% endif %}
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="alert alert-{{ category }} alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  {% block content %}
  {% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

  </body>
</html>
