{% extends "base.html" %}

{% block title %}
Board
{% endblock %}

{% block content %}
<section>
  <h1>Candidatures</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <!-- {% for col_name in title %}
            <th style="text-align:left">{{ col_name }}</th>
          {% endfor %} -->
          <th>Entreprise</th>
          <th>Région</th>
          <th>Contact</th>
          <th>Status</th>
          <th>Titre</th>
          <th>Lien</th>
          {% if current_user.is_admin == False %}
            <th>action</th>
          {% endif %}
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for candidacy in user_candidacy %}
          <tr>
            <td>{{ candidacy.company }}</td>
            <td>{{ candidacy.location }}</td>
            <td>
              <ul>
                <li>{{ candidacy.contact_full_name }}</li>
                {% if candidacy.contact_email != "" %}
                  <li>{{ candidacy.contact_email }}</li>
                {% endif %}
                {% if candidacy.contact_phone != None %}
                  <li>{{ candidacy.contact_phone }}</li>
                {% endif %}
              </ul>
            </td>
            <td>{{ candidacy.status_interpreted }}</td>
            <td>{{ candidacy.job_title_interpreted }}</td>
            <td>{{ candidacy.contact_link }}</td>
            
            {% if current_user.is_admin == False %}
              <td>
                <a href="update/{{ candidacy.id }}">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                  </svg>
                </a>
               
                <a class="btn btn-danger" href="{{ url_for('delete_candidacy', id=candidacy['id']) }}" role="button" onclick = button_delete()>Supprimer</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if current_user.is_admin == False %}
  <div>
      <button class="btn btn-lg btn-primary mt-4 d-block" id="button">
        <a href="{{ url_for('add_candidature') }}">Ajouter candidature</a>
      </button>
  </div>
  {% endif %}
</section>


<script type='text/javascript'> 
  function button_delete(){
      alert('Etes-vous sur de vouloir supprimer la candidature?')
  } 
  </script> 
{% endblock %}

